.menu{
  width: 260px;
}
.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #66CCFE;
}
.menu li{
  border-bottom: 1px solid yellow;
  letter-spacing: 3px;
}
.menu dd{
  margin-bottom: 6px;
}

.menu-1,.menu li{
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.menu-1{
  background-color: #657DA3;
  color: #66C1E2;
  letter-spacing: 5px;
  font-size: 20px;
  cursor: pointer;
}
.hidd{
  display: none;
}
.active{
  display: block;
}