#content {
    background-color: #dedede;
}


.item img {
    width: 300px;
    height: auto;
}

@media screen and (min-width:720px) {
    #content {
        width: 1280px;
        margin: auto;
    }
    #content::after {
        content: '';
        display: block;
        clear: left;
    }
    .item {
        float: left;
        margin: 10px;
    }
}

@media screen and (max-width:720px) and (min-width:320px){
    #content{
        width: 320px;
        margin: 0 auto;
    }
    .item{
        width: 100%;
        text-align: center;
        margin-top:10px;
    }
}