/*html,body{
	height: 100%;
}*/
/*.all{
	width: 100%;
	height: 100%;
	background-color: green;
}*/

body{
	margin:0;
}

.all{
	width: 100vw;
	height: 100vh;
	background-color: green;
	
	display: flex;
	flex-direction: column;
}

#header,#footer{
	flex: 0 0 80px;
	background-color: #696666;
	color: #fff;
	line-height: 60px;
	text-align: center;
}

#content{
	flex:1;
	display: flex;
	
}
#content .item:first-of-type,#content .item:last-of-type{
	flex:0 0 20%;
	background-color: #EFF1F0;
}
#content .section{
	flex:1;
	background-color: #D4EFD0;
}

.item{
	text-align: center;
}

#header .nav{
	width: 960px;
	height: 80px;
	display: flex;
	margin:0;
	list-style-type: none;
	align-items: flex-end;
}

#header .nav li{
	flex:1;
	background-color: #6CC4E6;
	border:1px solid #fff;
	color:#fff;
	/*height: 40px;*/
	line-height: 40px;
}

.search{
	width:512px;
	height: 60px;
	display: flex;
	margin:auto;
	position:relative;
	top:20px;
}
.search input{
	flex:1;
}

.btn{
	flex:0 0 80px;
	line-height: 60px;
	background-color: deepskyblue;
	color:#fff;
}
