div{
    width: 150px;
    height: 70px;
    border: 2px solid rgb(2, 201, 201);
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 60px;
    top: 300px;
    left: 60px;
    margin-left: 50px;
    transition: all 1.5s ease;
}
div:first-child:hover{
    transform:scale(1.5);
}
div:nth-of-type(2):hover{
    transform: scale(1.5);
    background: blue;
}
div:nth-of-type(3):hover{
    transform: skew(60deg);
}
div:nth-of-type(4):hover{
    transform: rotate(180deg);
}
div:last-of-type:hover{
    background: aqua;
    transform: rotate(180deg);
}